/* Variables Globales */
:root {
  --font-primary: "Rubik Vinyl", serif, sans-serif;
  --font-secondary: "Anek Latin", serif, sans-serif;
  --font-footer: "Iceland", serif, sams-serif;
  --font-size-large: 3.5rem;
  --font-size-base: 1.35rem;
  --font-size-small: 1.1rem;
  --font-size-navbar: 1.5rem;
  --font-size-large-title: 1.9rem;
  --font-size-small-footer: 1.25rem;
  --font-size-large-media-query: 1.1rem;
  --font-size-small-media-query: 0.9rem;
  --font-size-small-media-query: 0.9rem;
  --text-color-primary: rgba(255, 255, 255, 0.927);
  --text-color-secondary: rgba(255, 255, 255, 0.873);
  --bg-color: rgb(18, 41, 41);
  --footer-color: rgba(0, 0, 0, 0.673);
}

/* Reset y Estilos Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar*/

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: var(--footer-color);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem 3rem;
}

.titles-felines {
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 2rem;
  color: var(--text-color-primary);
  font-family: var(--font-footer);
  font-size: var(--font-size-navbar);
  margin: 0.5rem;
}


/* Body y Footer*/
body {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
}

header h1 {
  text-align: center;
  font-size: var(--font-size-large);
  margin: 2rem 0rem 1rem;
  font-family: var(--font-secondary);
  color: var(--text-color-primary);
  font-family: var(--font-primary);
}

main {
  flex: 1;
  font-family: var(--font-secondary);
  color: var(--text-color-primary);
  margin: 3rem 5rem 2rem 4rem;
}

.descripcion {
  font-size: 1.35rem;
  line-height: 2rem;
  color: var(--text-color-secondary);
  text-align: justify;
}

.instruccion {
  margin: 1rem 0rem 2.7rem;
}

.felinos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.felinos article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px; 
}

.image_felines {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 0.5rem;
  border: 0.5px solid black;
  transition: transform 0.4s, box-shadow 0.4s;
}

.image_felines:hover {
  transform: scale(1.05);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.639);
  
}
.felinos p {
  margin: 0.7rem 0rem 2rem;
  text-align: center;
  font-size: var(--font-size-small);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  padding: 1.5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.images-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px 0px 15px;
}

footer p {
  font-size: var(--font-size-small-footer);
  font-family: "Iceland", serif;
  font-weight: 300;
  color: var(--text-color-primary);
}

/* Media Queries */
@media (max-width: 480px) {
  header h1 {
    font-size: var(--font-size-large-title);
    margin: 4rem 0rem 2rem;
  }

  main {
    margin: 0.5rem 4rem 1rem 3rem;
  }

  .descripcion {
    font-size: var(--font-size-large-media-query);
    line-height: 1.5rem;
    text-align: justify;
  }

  .instruccion {
    margin-bottom: 1.5rem;
  }

  .image_felines {
    max-width: 90%;
  }

  .felinos p {
    font-size: var(--font-size-small-media-query);
  }

  footer p {
    font-size: var(--font-size-small-media-query);
  }
}
